<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="pl.net.newton.Makler" android:versionCode="114"
	android:versionName="2.7a" android:installLocation="auto">

	<uses-feature android:name="android.hardware.telephony"
		android:required="false" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:allowBackup="true">
		<activity android:label="@string/app_name" android:name="pl.net.newton.Makler.ui.Quotes">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="pl.net.newton.Makler.ui.FullScreenGraph"></activity>
		<activity android:name="pl.net.newton.Makler.ui.QuoteDetails"></activity>
		<activity android:name="pl.net.newton.Makler.ui.Orders"></activity>
		<activity android:name="pl.net.newton.Makler.ui.OrderForm"></activity>
		<activity android:name="pl.net.newton.Makler.ui.AccountState"></activity>
		<activity android:name="pl.net.newton.Makler.ui.Alerts"></activity>
		<activity android:name="pl.net.newton.Makler.ui.Symbols"></activity>
		<activity android:name="pl.net.newton.Makler.ui.Preferences"></activity>
		<activity android:name="pl.net.newton.Makler.ui.Wallet"></activity>
		<activity android:name="pl.net.newton.Makler.ui.WalletForm"></activity>
		<activity android:name="pl.net.newton.Makler.ui.WalletItemCalculator"></activity>
		<activity android:name="org.achartengine.GraphicalActivity" />
		<activity android:name="pl.net.newton.Makler.ui.About"
			android:label="@string/about_title" android:theme="@android:style/Theme.Dialog">
		</activity>

		<service android:name="pl.net.newton.Makler.db.service.impl.SqlProviderImpl" />
		<service android:name="pl.net.newton.Makler.gpw.service.impl.QuotesServiceImpl" />
		<service android:name="pl.net.newton.Makler.gpw.service.impl.GpwProviderImpl" />
		<service android:name="pl.net.newton.Makler.history.service.HistoryServiceImpl" />
		<receiver android:name="pl.net.newton.Makler.receivers.QuotesAlarmReceiver"
			android:enabled="true" />
		<receiver android:name="pl.net.newton.Makler.receivers.StartupReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	</application>
</manifest> 
